<div class="row">
  <div class="col s12 center pinky-text">
    <h2>Add a Comment</h2>
  </div>
</div>

<%= erb :errors %>

<div class="row">
  <form id="comment-form"class="col s12 m8 offset-m2 l6 offset-l3" action="/users/<%=user.id%>/posts/<%=post.id%>/comments" method="post">

    <div class="input-field col s12">
      <textarea name="body" class="materialize-textarea validate" length="1000"></textarea>
      <label for="textarea1">Your Comment</label>
    </div>

    <div class="row center">
      <button class="btn waves-effect waves-purple light-green" type="submit">Submit a Comment
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>
</div>
