.water-green {
  background-color: #73ee6e;
}

.light-green-text {
  color: #73ee6e;
}

.pinky {
  background-color: #ee6e73;
}

.pinky-text {
  color: #ee6e73;
}

.parallax-container {
  height: 40em;
}

.banner {
  margin-bottom: 0;
}

.profile-img {
  border-radius: 20%;
  border: 2px solid #03a9f4;
  margin-top: 4em;
}

.tiny-img {
  max-height: 3em;
}

.post-body {
  background-color: #eceff1;
  padding: 2em;
  border-radius: 1em;
}

.footer-img {
  max-height: 8em;
  border-radius: 100%;
  border: 2px solid white;
}

.remove-pet {
  margin-bottom: 0px;
}

.delete-pet {
  border: none;
  background-color: inherit;
}
