<div class="row">
  <div class="col s12 center pinky-text">
    <h2>Add Your Pet</h2>
  </div>
</div>

<%= erb :errors %>

<div class="row">
  <form class="col s12 m8 offset-m2 l6 offset-l3" action="/users/<%= @user.id %>/pets" method="post">

    <div class="input-field col s12">
      <input name="pet[name]" type="text" class="validate" length="50">
      <label for="name">Pet Name</label>
    </div>

    <div class="input-field col s12">
      <input name="pet[species]" type="text" class="validate" length="75">
      <label for="species">Species</label>
    </div>

    <div class="input-field col s12">
      <input name="pet[breed]" type="text" class="validate" length="20">
      <label for="breed">Breed</label>
    </div>

    <div class="input-field col s4 offset-s4">
      <input name="pet[age]" type="number" class="validate">
      <label for="age">Age</label>
    </div>

    <div class="input-field col s12">
      <input name="image" type="text" class="validate">
      <label for="image">Image URL</label>
    </div>

    <div class="input-field col s12 center">
      <button class="btn waves-effect waves-purple water-green" type="submit">Add Pet
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>
</div>

