<div class="row">
  <div class="col s12 center pinky-text">
    <h2>Add a Post</h2>
  </div>
</div>

<%= erb :errors %>

<div class="row">
  <form class="col s12 m8 offset-m2 l6 offset-l3" action="/users/<%=current_user.id%>/posts" method="post">


    <div class="input-field col s12">
      <input name="post[title]" type="text" class="validate" length="75">
      <label for="last_name">Title</label>
    </div>

    <div class="input-field col s12">
    <input name="post[description]" type="text" class="validate" length="150">
      <label for="username">Description</label>
    </div>

    <div class="input-field col s12">
      <input name="image" type="text" class="validate">
      <label for="image">Image URL</label>
    </div>

    <div class="input-field col s12">
      <textarea name="post[body]" class="materialize-textarea" class="validate" length="5000"></textarea>
      <label for="textarea1">Your Post</label>
    </div>

    <div class="row center">
      <button class="btn waves-effect waves-purple light-green" type="submit">Submit a Post
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>
</div>
