<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br/><br/>
      <h1 class="header center pinky-text">Welcome to Pet Tales</h1>
      <br/><br/><br/>
      <div class="row center">
        <% unless current_user %>
        <a href="/users/new" class="btn-large waves-effect waves-purple light-green">Create an Account</a>
        <% end %>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/images/background1-compressor.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="row center pinky white-text banner">
  <div class="col s12">
    <h2>Let your pet tell their tale...</h2>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <img src="/images/background2-compressor.jpg" alt="Unsplashed background img 2">
  </div>
</div>

<div class="row center pinky white-text banner">
  <div class="col s12">
    <h2>and get the comments they deserve.</h2>
  </div>
</div>
<div class="section no-pad-bot">
  <div class="container">
    <br><br><br/><br/>
    <h2>Don't have a pet?  Adopt one today!</h2>
    <br/><br/><br/>
    <div class="row center">
    <a href="/adoptions" class="btn-large waves-effect waves-purple light-green">Adoption Page</a>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <img src="/images/background3-compressor.jpg" alt="Unsplashed background img 3">
  </div>
</div>
