<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br/><br/>
      <h1 class="header center pinky-text">Welcome to Best Friend Tales</h1>
      <br/><br/><br/>
      <div class="row center">
        <% unless current_user %>
          <a href="/users/new" class="btn-large waves-effect waves-purple light-green">Create an Account</a>
        <% end %>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/images/background1-compressor.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="row center pinky white-text banner">
  <div class="col s12">
    <h2>Let these pets tell their tale...</h2>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <img src="/images/background2-compressor.jpg" alt="Unsplashed background img 2">
  </div>
</div>

<div class="row center pinky white-text banner">
  <div class="col s12">
    <h2>and get the home they deserve.</h2>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Find your new best friend.</h5>
        <a href="/adoptions" class="btn waves-effect waves-red light-blue">Adoption Page</a>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="/images/background3-compressor.jpg" alt="Unsplashed background img 3">
  </div>
</div>
