<!DOCTYPE html>
<html lang="en">
<head>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.css" media="screen,projection">
  <link rel="stylesheet" href="/css/custom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Best Friend Tales</title>
</head>
<body>
  <header>
    <%= erb :nav %>
  </header>

  <main>
    <%= yield %>
  </main>

  <%= erb :footer %>
</body>

<!-- Scripts -->
<script src="/js/materialize.min.js"></script>
<script src="/js/init.js"></script>

</html>
