<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Best Friend Tales</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li><a href="/posts">All Posts</a></li>
        <li><a href="/users">Pet Lovers</a></li>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
      <% else %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
    <% if current_user %>
      <ul class="left hide-on-med-and-down">
        <li><a href="/logout">Logout</a><li>
        <li><a href="/adoptions">Discover Best Friends</a></li>
      </ul>
    <% end %>
    <ul class="side-nav" id="mobile-demo">
      <% if current_user %>
        <li><a href="/adoptions">Discover Best Friends</a></li>
        <li><a href="/posts">Discover Posts</a></li>
        <li><a href="/users">All Pet Lovers</a></li>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
        <li><a href="/logout">Logout</a><li>
      <% else %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>
